<md-dialog ng-controller="EditCarController">
    <form name="carForm" ng-submit="update()">
        <md-dialog-content class="md-padding">
            <div layout="column" layout-padding>
                <div layout layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Serial</label>
                        <input ng-model="car.serial" name="serial" ng-value="car.serial" required>
                        <div ng-messages="carForm.serial.$invalid" ng-show="carForm.serial.$touched">
                            <div ng-show="carForm.serial.$invalid">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Make</label>
                        <input ng-model="car.make" name="make" required>
                        <div ng-messages="carForm.make.$invalid" ng-show="carForm.make.$touched">
                            <div ng-show="carForm.make.$invalid">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Model</label>
                        <input ng-model="car.model" name="model" required>
                        <div ng-messages="carForm.model.$invalid" ng-show="carForm.model.$touched">
                            <div ng-show="carForm.model.$invalid">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                    <md-input-container flex>
                        <label>Color</label>
                        <md-select ng-model="car.color" name="color" required>
                            <md-option ng-repeat="color in colors" ng-value="color">
                                {{ color }}
                            </md-option>
                        </md-select>
                        <div ng-messages="carForm.color.$error" ng-show="carForm.color.$touched">
                            <div ng-show="carForm.color.$invalid">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Engine Type</label>
                        <input ng-model="car.enginetype" name="enginetype" required>
                        <div ng-messages="carForm.enginetype.$error" ng-show="carForm.enginetype.$touched">
                            <div ng-show="carForm.enginetype.$invalid">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                    <md-input-container flex>
                        <label>Year</label>
                        <md-select ng-model="car.year" name="year" required>
                            <md-option ng-repeat="year in years" ng-value="year">
                                {{ year }}
                            </md-option>
                        </md-select>
                        <div ng-messages="carForm.year.$error" ng-show="carForm.year.$touched">
                            <div ng-show="carForm.year.$invalid">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-container class="regdate" flex>
                        <label></label>
                        <md-datepicker ng-model="car.date" name="date" required></md-datepicker>
                        <div class="validation-messages" ng-messages="carForm.date.$error"
                             ng-show="carForm.date.$touched">
                            <div ng-show="carForm.date.$invalid">This date is required!</div>
                        </div>
                    </md-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                    <md-input-container class="md-block" flex>
                        <label>Describe</label>
                        <textarea ng-model="car.description" rows="5" name="description" required></textarea>
                        <div ng-messages="carForm.description.$error" ng-show="carForm.description.$touched">
                            <div ng-show="carForm.description.$invalid">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                    <md-input-container class="md-block" flex>
                        <label>Car Picture</label>
                        <input type="file" nv-file-select="" uploader="uploader"/>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="submit" class="md-primary md-raised"
                       ng-disabled="carForm.$invalid">
                Save
            </md-button>
            <md-button ng-click="cancel()" class="md-accent md-raised md-hue-1">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

