<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>

<body ng-app="BlankApp" ng-cloak>
<!--
  Your HTML content here
-->
<md-content class="md-padding" style="background-color:red;" layout-xs="column" layout-wrap layout="row">
    <div layout="row" style="background-color:yellow; " flex-gt-xs="50" flex="100"
         ng-repeat="product in [1,2,3]">
        <md-card flex style="background-color:cyan">
            <div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title"> Product Title </span>
                        <span class="md-subhead" style="font-weight: bold;">Brand: </span><span
                            style="margin-left:10px"> product.Brand </span>
                        <span class="md-subhead" style="font-weight: bold;">Color: </span><span
                            style="margin-left:10px"> product.Color </span>
                        <span class="md-subhead" style="font-weight: bold;">Price: </span><span
                            style="margin-left:10px">product.Price </span>
                        <span class="md-subhead" style="font-weight: bold;">Url: </span><span
                            style="margin-left:10px"><a ng-href="product.Url">product.Ur</a></span>
                        <span class="md-subhead" style="font-weight: bold;">Category:{{$index}} </span><span
                            style="margin-left:10px">product.Category </span>
                    </md-card-title-text>
                </md-card-title>
            </div>

            <div>
                <md-card-content ng-if="($index) == 0 || $index ==2 || $index == 4 || $index == 8">
                    <md-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s
                    </md-content>
                </md-card-content>
            </div>
            <div>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="send-button md-accent md-raised" ng-click="vm.editDialog($index,product._id)">
                        Edit
                    </md-button>
                    <md-button name="ProductId" class="send-button md-accent md-raised"
                               ng-click="remove(product._id,'{{$index}}')">Remove
                    </md-button>
                </md-card-actions>
            </div>
        </md-card>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        /**
         * You must include the dependency on 'ngMaterial'
         */
        angular.module('BlankApp', ['ngMaterial']);
    </script>

</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->