<md-dialog ng-controller="addCarController">
    <form name="carForm"  ng-submit="save()">
        <md-dialog-content class="md-padding">
            <div layout="column" layout-padding>
                <div layout layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Make</label>
                        <input ng-model="car.make" name="make" required>
                        <div ng-messages="carForm.make.$error.required">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Model</label>
                        <input ng-model="car.model" name="model" required>
                        <div ng-messages="carForm.model.$error.required">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                    <md-input-container flex>
                        <label>Color</label>
                        <md-select ng-model="car.color" name="color" required>
                            <md-option ng-repeat="color in colors" ng-value="color">
                                {{ color }}
                            </md-option>
                        </md-select>
                        <div ng-messages="carForm.color.$error.required">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Engine Type</label>
                        <input ng-model="car.enginetype" name="enginetype" required>
                        <div ng-messages="carForm.enginetype.$error.required">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Date</label>
                        <input ng-model="car.date" name="date" required>
                        <div ng-messages="carForm.date.$error.required">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="md-block">
                <md-input-container class="md-block" flex>
                    <label>Describe</label>
                    <textarea ng-model="car.des" rows="5" name="des" required></textarea>
                    <div ng-messages="carForm.des.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                    </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="submit" class="md-primary md-raised"
                       ng-disabled="carForm.$invalid">
                Save
            </md-button>
            <md-button ng-click="cancel()" class="md-accent md-raised md-hue-1">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

