<div layout="column" ng-controller="MainController">
    <div ng-if="!show">
    <md-toolbar >
        <div class="md-toolbar-tools">
            <md-button hide-gt-md ng-click="toggleFilter('left')"  aria-label="Menu">
                <md-icon md-svg-icon="asset/images/menu.svg"></md-icon>
            </md-button>
            <h3>
               <a ui-sref="main"> Shack List </a>
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch()">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <span flex="5"></span>
        </div>
        <md-fab-speed-dial
                md-direction="down"
                class="md-fling md-fab-top-right" >
            <md-fab-trigger>
                <md-button class="md-fab" aria-label="submenu">
                    <ng-md-icon icon="view_week"></ng-md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button class="md-fab md-raised md-mini"
                           ng-click="showContactOptions($event)">
                    <ng-md-icon icon="face"></ng-md-icon>
                    <md-tooltip md-direction="left">Contact</md-tooltip>
                </md-button>
                <md-button class="md-fab md-raised md-mini"
                           ng-click="clearNotes($event)">
                    <ng-md-icon icon="clear_all"></ng-md-icon>
                    <md-tooltip md-direction="left"> About Us </md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </md-toolbar>
    </div>
    <md-toolbar class="hue-1" ng-if="show">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch()" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Back
            </h3>
            <md-input-container md-theme="input" flex class="search_input">
                <input />
            </md-input-container>
            <md-button aria-label="Search" ng-click="showSearch()">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>
</div>